@media (max-width: 1439px) {
   
    .sidepanel {
        display: none;
    }
}
@media (max-width: 1240px) {
    .container {
        max-width: 960px;
    }
    .about {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
           
        }
        &__skills {
            column-gap: 20px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                grid-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: repeat(2, 400px);
            column-gap: 40px;
        }
        
    }
    .use {
        &__wrapper {
            grid-template-columns: repeat(3, 304px);
            grid-template-rows: repeat(3, 304px);
            column-gap: 13px;
            row-gap: 13px
        }
        &__item {
            padding: 40px;
        }
        &__anime {
            grid-row: 3/4;
            grid-column: 2/4;
            img {
                // width: 269px;
                // height: 100%;
               
            }
        }
    }
    .skills {
        &__ratings {
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,350px);
            column-gap: 45px;
            row-gap: 35px;
            justify-content: space-around;
            &-opacity{
                opacity: 0;
            }
           
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 316px);
            grid-auto-rows: 316px;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns:  900px;
            justify-content: space-between;
        }

        &__form {
            grid-template-columns: repeat(2, 445px);
        }
        &__photo {
            img {
                display: none;
            }
        }
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .title {
        &_fz36 {
            font-size: 30px;
            line-height: 43px;
        }
    }

    .about {
        &__wrapper {
            grid-template-columns: 320px 380px;
            column-gap: 20px;
           
        }
        &__skills {
            column-gap: 20px;
           grid-template-columns: 380px;
            &-item {
                grid-template-columns: 40px 325px;
                grid-auto-rows: minmax(115px, auto);
                grid-gap: 15px;
            }
            
        }
        
    }
    .resume {
        &__wrapper {
            padding: 60px 0 0 0;
            grid-template-columns: repeat(2, 350px);
            column-gap: 20px;
        }
        
    }

    .use {
        &__wrapper {
            grid-template-columns: repeat(2, 344px);
            grid-template-rows: repeat(4, 344px);
            column-gap: 13px;
            row-gap: 13px
        }
        &__item {
            padding: 40px;
        }
        &__anime {
            grid-row: unset;
            grid-column: unset;
            img {
                // width: 269px;
                // height: 100%;
               
            }
        }
    }
    .skills {
        &__ratings {
            grid-template: repeat(3,minmax(70px,auto))/repeat(2,320px);
            column-gap: 45px;
            row-gap: 35px;
            justify-content: space-around;
            &-opacity{
                opacity: 100;
            }
            &-line {
                width: 320px;
            }
           
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 355px);
            grid-auto-rows: 316px;
            justify-content: center;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .price {
        &__wrapper {

            grid-template: repeat(3,minmax(45px,auto))/repeat(1,1fr);
            grid-auto-rows: minmax(45px, auto);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns:  720px;
            justify-content: space-between;
            padding: 0;
        }

        &__form {
            grid-template-columns: repeat(2, 355px);
        }
        &__photo {
            img {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        
        &_fz48 {
            font-size: 33px;
            line-height: 39px;
        }
    }
    .promo {
        &__title {
            width: 300px;
        }
    }

    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 1fr;
            
           
        }
        &__skills {
            grid-template-columns: repeat(2, 260px);
            &-item {
                grid-template-columns: 40px 200px;
                
                grid-gap: 15px;
            }
            
        }
        &__photo {
            grid-row: unset;
        }
        
    }

    .resume {
        &__wrapper {
            
            grid-template-columns: 1fr;
            column-gap: 20px;
        }
        
    }

    .use {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 247px);
            column-gap: 13px;
            row-gap: 13px
        }
        &__item {
            padding: 40px;
        }
        &__anime {
            grid-row: unset;
            grid-column: unset;
            img {
                // width: 269px;
                // height: 100%;
               
            }
        }
    }
    .skills {
        &__ratings {
            grid-template: repeat(6,minmax(70px,auto))/ 1fr;
            column-gap: 45px;
            row-gap: 35px;
            justify-content: space-around;
            &-opacity{
                opacity: 100;
            }
            &-line {
                width:494px;
            }
           
        }
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 530px);
            grid-auto-rows: 300px;
            justify-content: center;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .price {
        &__wrapper {
            padding: 0;
            grid-template: repeat(3,minmax(45px,auto))/repeat(1,1fr);
            grid-auto-rows: minmax(45px, auto);
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns:  540px;
            justify-content: space-between;
            padding: 0;
        }

        &__form {
            grid-template-columns: repeat(2, 265px);
        }
        &__photo {
            img {
                display: none;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .title {
        
        &_fz48 {
            font-size: 26px;
            line-height: 39px;
        }
        &_fz36 {
            font-size: 24px;
        }
    }
    .promo {
        &__btns {
            margin-top: 100px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 340px auto auto / 1fr;
            
           
        }
        &__skills {
            grid-template-columns: 1fr;
            &-item {
                grid-template-columns: 40px 230px;
                
                grid-gap: 15px;
            }
            
        }
        &__photo {
            grid-row: unset;
        }
        
    }
    .resume {
        &__wrapper {
            
            grid-template-columns: 1fr;
            column-gap: 20px;
        }
        
    }

    .use {
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            column-gap: 13px;
            row-gap: 13px
        }
        &__item {
            padding: 40px;
        }
        &__anime {
            grid-row: unset;
            grid-column: unset;
            img {
                // width: 269px;
                // height: 100%;
               
            }
        }
    }
    .skills {
        &__ratings {
            grid-template: repeat(6,minmax(70px,auto))/ 1fr;
            column-gap: 45px;
            row-gap: 35px;
            justify-content: space-around;
            &-opacity{
                opacity: 100;
            }
            &-line {
                width:300px;
            }
           
        }
    }

    .portfolio {
        &__wrapper {
            grid-template-columns:1fr;
            grid-auto-rows: 280px;
            justify-content: center;
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
            .horizonal, .vertical {
                grid-row: unset;
                grid-column: unset;
            }
        }
    }
    .contacts {
        &__wrapper {
            grid-template-columns:  1fr;
            
            padding: 0;
        }

        &__form {
            grid-template-columns: 1fr;
            grid-template-rows: 40px;
            
            
        }
        &__input {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows:  40px;
            row-gap: 5px;
            padding: 0 5px;
        }
        &__photo {
            img {
                display: none;
            }
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            
            
              
            
        }
        &__textarea {
            grid-column: unset;
            grid-template-rows: 200px;
            padding: 0 5px;
        }
    }
    .contacts__input-second {
        margin-top: 10px;
    }
    .contacts__policy {
        order: 1;
        width: 300px;
        margin-bottom: 10px;
      }
      
    .contacts__btn {
        order: 2;
      }
    
    
}